[project]
name = "brick-core"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.128.0",
    "python-dotenv>=1.2.1",
    "sentry-sdk>=2.48.0",
    "uvicorn>=0.40.0",
]
